input,
select {
    background-color: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 0.5rem;
    height: 5.8rem;
    padding: 0 1.6rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
}

@media only screen and (max-width: 410px) {
    input {
        height: 3rem;
    }
}